# 1. 기본셋팅

In [10]:
import pandas as pd
import numpy as np

In [11]:
table_raw = pd.read_csv('./Netflix Userbase.csv',)

In [12]:
table_raw.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

## raw data는 남겨두고 복사본으로 정제

In [13]:
table = table_raw.copy()

# 2. 날짜 형식 변경하기

## Join Date와 Last Payment Date 열의 데이터를 datetime 형식으로 변환

In [16]:
table['Join Date'] = pd.to_datetime(table['Join Date'])
table['Last Payment Date'] = pd.to_datetime(table['Last Payment Date'])

## Join Date와 Last Payment Date 열의 데이터를 yyyy-mm-dd 형식으로 변환

In [17]:
table['Join Date'] = table['Join Date'].dt.strftime('%Y-%m-%d')
table['Last Payment Date'] = table['Last Payment Date'].dt.strftime('%Y-%m-%d')

# 3. 결측 값 제거하기

### Monthly Revenue 확인

In [24]:
null_count = table['Monthly Revenue'].isnull().sum()

In [25]:
print("결측값 개수:", null_count)

결측값 개수: 0

# 내보내기

In [26]:
table.to_csv('netflix_userbase_dataset.csv', index=False)