# 1. 기본셋팅

In [1]:
import pandas as pd
import numpy as np

In [2]:
table_raw = pd.read_csv('./Netflix Userbase.csv',)

In [3]:
table_raw.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

## raw data는 남겨두고 복사본으로 정제

In [4]:
table = table_raw.copy()

# 2. 사용하지 않는 데이터 정리

## Join Date와 Last Payment Date 열의 데이터를 datetime 형식으로 정리

In [5]:
table['Join Date'] = pd.to_datetime(table['Join Date'], dayfirst=True)  
table['Last Payment Date'] = pd.to_datetime(table['Last Payment Date'], dayfirst=True)

/var/folders/cx/hmjl8g1n2tg0vqccsdj3_dl00000gn/T/ipykernel_24770/3225962661.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  table['Join Date'] = pd.to_datetime(table['Join Date'], dayfirst=True)
/var/folders/cx/hmjl8g1n2tg0vqccsdj3_dl00000gn/T/ipykernel_24770/3225962661.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  table['Last Payment Date'] = pd.to_datetime(table['Last Payment Date'], dayfirst=True)

## Join Date 범위 필터링 (2019~2023년)

In [6]:
start_date = pd.to_datetime('2019-01-01')
end_date = pd.to_datetime('2023-12-31')
table = table[(table['Join Date'] >= start_date) & (table['Join Date'] <= end_date)]

## Join Date와 Last Payment Date 열의 데이터를 yyyy-mm-dd 형식으로 변환

In [7]:
table['Join Date'] = table['Join Date'].dt.strftime('%Y-%m-%d')
table['Last Payment Date'] = table['Last Payment Date'].dt.strftime('%Y-%m-%d')

In [8]:
table.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,2022-01-15,2023-06-10,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,2021-09-05,2023-06-22,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,2023-02-28,2023-06-27,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,2022-07-10,2023-06-26,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,2023-05-01,2023-06-28,Germany,33,Male,Smartphone,1 Month

In [ ]:
table.to_csv('your_updated_file.csv', index=False)